// out: main.css, compress: true, sourcemap: false,

@import "variables";
@import "mixins";

::-webkit-input-placeholder {color:#343434;}
::-moz-placeholder          {color:#343434;}
:-moz-placeholder           {color:#343434;}
:-ms-input-placeholder      {color:#343434;}

* {
  padding: 0;
  margin: 0;
}

body, html {
  width: 100%;
  height: 100%;
  font-family: 'Arial', sans-serif;
  position: relative;
}

.wrapper {
  .wrapper();
}

.clearfix {
  .clearfix();
}

/*********** ХЕДЕР ********************/

#page-header {
  z-index: 100;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  height: 70px;
  background: rgba(31,31,31, .7);
}

.header {
  &__logo {
    line-height: 70px;
    float: left;
  }
}

.navigation {
  .clearfix();
  float: right;
  line-height: 70px;

  &__refs, &__list {
    list-style: none;
    position: relative;
    .clearfix();
  }

  &__refs {
    float: right;
  }

  &__sublist, &__list {
    position: relative;
    float: left;
    list-style: none;
  }

  &__sublist {
    visibility: hidden;
    opacity: 0;
    transform-origin: top;
    transform: translateY(50px);
    top: 80%;
    border-radius: 5px;
    text-align: center;
    width: 150px;
    background: #dedede;
    padding: 10px;
    margin-left: -45px;
    position: absolute;
    &::before {
      content: "";
      position: absolute;
      display: block;
      top: -20px;
      left: 50%;
      margin-left: -5px;
      border: 10px solid transparent;
      border-bottom: 10px solid #dedede;
    }
    transition: .3s ease all;
  }

  &__subitem-header {
    &:hover>.navigation__sublist {
      visibility: visible;
      transform: translateY(0px);
      opacity: 1;
    }
  }

  &__subitem {
    position: relative;
    font-size: 14px;
    height: 20px;
    margin: 10px 0;
    line-height: 20px;
    &>a {
      color: #565656;
      text-transform: uppercase;
      text-decoration: none;
      font-family: Helvetica, sans-serif;
      &:hover {
        color: #343434;
      }
    }
  }

  &__item {
    text-transform: uppercase;
    position: relative;
    float: left;
    margin-left: 40px;
    font-size: 20px;
    cursor: pointer;
    &:active {
      transform: scale(.95);
    }
    &>a{
      color: @colorWhite;
      text-decoration: none;
      font-family: Helvetica, sans-serif;
      font-size: 15px;
    }
    &:hover>a {
      color: #ababab;
    }
    &--search {
      width: 64px;
      height: 70px;
      position: relative;
      background: url("../img/search.png") no-repeat 50% 50%;
      background-size: 40px;
      font-size: 0;
      &:hover {
        filter: invert(20%);
      }
    }
    &--twitter {
      &>a {
        font-size: 0;
        background: url("../img/twitter.png") no-repeat 50% 50%;
        background-size: 15px;
      }
    }
    &--facebook {
      &>a {
        font-size: 0;
        background: url("../img/facebook.png") no-repeat 50% 50%;
        background-size: 15px;
      }
    }
    &--vk {
      &>a {
        font-size: 0;
        background: url("../img/vk.png") no-repeat 50% 50%;
        background-size: 15px;
      }
    }
    &--instagram {
      &>a {
        font-size: 0;
        background: url("../img/instagram.png") no-repeat 50% 50%;
        background-size: 15px;
      }
    }
    &--ref {
      transition: .3s ease filter;
      filter: invert(100%);
      margin-left: 40px;
      font-size: 0;
      &>a {
        display: block;
        width: 24px;
        height: 100%;
      }
      &:hover {
        filter: invert(85%);
      }
    }
  }

}

/**************** ОСНОВНОЕ ТЕЛО (тег main) *************/

#page-content, .slider__section {
  width: 100%;
  height: 100%;
}

.progressbar {
  width: 0;
  height: 40px;
  background: #FFFFFF;
}

#progressbar {
  width: 100px;
  height: 100px;
  margin: 20px;
}

.slider {
  &__progressbar {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    width: 100%;
    height: 100%;
    position: absolute;
    background: #434343;
  }
  &__section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    &--1 {
      background-image: url("../img/slider/1vk.jpg");
    }
    &--2 {
      background-image: url("../img/slider/2vk.jpg");
    }
    &--3 {
      background-image: url("../img/slider/6vk.jpg");
    }
    &--4 {
      background-image: url("../img/slider/D3-vk.jpg");
    }
  }
}

.section {
  &__title {
    color: @colorWhite;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
  }
  &__ref {
    width: 150px;
    padding: 10px;
    display: block;
    margin: 20px auto;
    color: @colorWhite;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    border: 2px solid @colorWhite;
    transition: .3s ease all;
    position: relative;
    border-radius: 3px;
    &:hover {
      background: @colorWhite;
      color: @mainThemeGrayColor;
    }
  }
  &--center {
    text-align: center;
    width: 400px;
  }
}

.search {
  opacity: 0;
  width: 100%;
  height: 100%;
  background: rgba(200,200,200,.95);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  &__close {
    position: absolute;
    width: 50px;
    height: 50px;
    border: none;
    right: 50px;
    top: 10px;
    background: none;
    font-size: none;
    outline: none;
    font-size: 0;
    cursor: pointer;
    &::before, &::after {
      position: absolute;
      content: "";
      width: 40px;
      margin-left: -20px;
      border-bottom: 2px solid #343434;
    }
    &::before {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    &::after {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
    &:active {
      -webkit-transform: scale(.9);
      -moz-transform: scale(.9);
      transform: scale(.9);
    }
  }
  &__field {
    padding: 20px;
  }
  &__go {
    margin-left: 20px;
    width: 100px;
    height: 45px;
    padding: 10px;
    font-size: 20px;
    text-transform: uppercase;
    background: #343434;
    color: @colorWhite;
    border: none;
    border-radius: 3px;
    box-shadow: 0 7px 5px -5px rgba(51,51,51,.75);
    outline: none;
    cursor: pointer;
    &:hover {
      background: #454545;
    }
    &:active{
      transform: scale(.9);
    }
  }
}

.appear {
  &__input {
    -webkit-animation: .5s ease inp;
    -moz-animation: .5s ease inp;
    animation: .5s ease inp;
  }
}

.disappear {
  &__input {
    -webkit-animation: .5s ease oup;
    -moz-animation: .5s ease oup;
    animation: .5s ease oup;
  }
}

#search__string {
  width: 450px;
  height: 35px;
  padding: 5px;
  padding-left: 10px;
  font-size: 20px;
  border: none;
  border-bottom: 2px solid #343434;
  background: none;
  outline: none;
  color: #343434;
  box-shadow: 0 6px 5px -5px rgba(51,51,51,.75);
}

@keyframes inp {
  0% {
    -webkit-transform: translateX(-100%) skewX(25deg);
    -moz-transform: translateX(-100%) skewX(25deg);
    transform: translateX(-100%) skewX(25deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0%) scaleX(0deg);
    -moz-transform: translateX(0%) scaleX(0deg);
    transform: translateX(0%) scaleX(0deg);
    opacity: 1;
  }
}

@keyframes oup {
  0% {
    -webkit-transform: translateX(0%) scaleX(0deg);
    -moz-transform: translateX(0%) scaleX(0deg);
    transform: translateX(0%) scaleX(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-100%) skewX(25deg);
    -moz-transform: translateX(-100%) skewX(25deg);
    transform: translateX(-100%) skewX(25deg);
    opacity: 0;
  }
}
