// out: main.css, compress: true, sourcemap: false,

@import "variables";
@import "mixins";

* {
  padding: 0;
  margin: 0;
}

body, html {
  width: 100%;
  height: 100%;
  font-family: 'Arial', sans-serif;
}

.wrapper {
  .wrapper();
}

.clearfix {
  .clearfix();
}

/*********** ХЕДЕР ********************/

#page-header {
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  height: 70px;
}

.header {
  &__logo {
    line-height: 70px;
    float: left;
  }
}

.navigation {
  .clearfix();
  float: right;
  line-height: 70px;

  &__refs, &__list {
    .clearfix();
  }

  &__refs {
    float: right;
  }

  &__list {
    float: left;
  }

  &__item {
    float: left;
    margin-left: 40px;
    font-size: 20px;
    &--ref {
      margin-left: 0;
      font-size: 0;
    }
  }
}

/**************** ОСНОВНОЕ ТЕЛО (тег main) *************/

#page-content, .slider, .slider__section {
  width: 100%;
  height: 100%;
}

.slider {
  &__section {
    padding-top: 1px;
    background-size: cover;
    &--1 {
      background-image: url("../img/slider/1vk.jpg");
    }
    &--2 {
      background-image: url("../img/slider/2vk.jpg");
    }
    &--3 {
      background-image: url("../img/slider/6vk.jpg");
    }
    &--4 {
      background-image: url("../img/slider/D3-vk.jpg");
    }
  }
  &__button {
    background: none;
    border: none;
    font-size: 0;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 70px;
      height: 70px;
      border: 5px solid transparent;
      border-top-color: @colorWhite;
      border-left-color: @colorWhite;
      transform: rotate(-45deg);
    }
    &--up {
      left: 100px;
    }
    &--down {
      right: 170px;
      &::before {
        transform: rotate(135deg);
      }
    }
  }
}

.section {
  &__title {
    color: @colorWhite;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
  }
  &__ref {
    width: 150px;
    padding: 10px;
    display: block;
    margin: 20px auto;
    color: @colorWhite;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    border: 2px solid transparent;
    transition: .3s ease all;
    position: relative;
    &:hover {
      border-color: @colorWhite;
    }
  }
  &--center {
    text-align: center;
    width: 400px;
    margin: 270px auto;
  }
}
